{% extends "restaurant_manage/base.html" %}
{% load static %}

{% block title %}
    <title>Restaurant Management | Customer Detail</title>
{% endblock %}

{% block content %}
    <h2>Customer #{{ customer.id }} Details</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Customer</button>
    </form>
    <form method="post" action="{% url 'customer-detail' customer.id %}" style="margin-top: 20px;">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete Customer</button>
    </form>
    <a href="{% url 'customer-view' %}" class="align-right">Back to Customers</a>
{% endblock %}
