
{% extends "restaurant_manage/base_form.html" %}
{% load static %}

{% block title %}
    <title>Create Customer</title>
{% endblock %}

{% block content %}
    <script>
        function showAlert(message) {
            alert(message);
        }
    </script>
    <h2>Create Customer</h2>
        
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" value="save">Save</button>
    </form>
    {% if alert %}
    <script>
        showAlert("{{ alert }}");
    </script>
    {% endif %}
{% endblock %}
