
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <link rel="stylesheet" type="text/css" href="{% static 'restaurant_manage/list_styles.css' %}">
    <!-- Add your CSS styles if needed -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'menu-view' %}">Menu Items</a></li>
            <li><a href="{% url 'order-view' %}">Orders</a></li>
            <li><a href="{% url 'customer-view' %}">Customers</a></li>
            <li><a href="{% url 'view-or-write' %}">View or Write</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>403 Forbidden</h1>
        <p>Oops! Access to this page is forbidden.</p>
        <!-- Add more content or styles as desired -->
    </div>
</body>
</html>
