{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'restaurant_manage/list_styles.css' %}">
    {% block title %}
        <title>Restaurant Management</title>
    {% endblock %}
</head>
<body>  
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'menu-view' %}">Menu Items</a></li>
                <li><a href="{% url 'order-view' %}">Orders</a></li>
                <li><a href="{% url 'customer-view' %}">Customers</a></li>
                <li><a href="{% url 'view-or-write' %}">View or Write</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <h1>Restaurant Management System</h1>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
