{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Management</title>
    <link rel="stylesheet" href="{% static 'restaurant_manage/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li class="left"><a href="{% url 'home' %}">Home</a></li>
            <li class="right"><a href="{% url 'signup' %}">Signup</a></li>
            <li class="right"><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </nav>
    <h1>Restaurant Management System</h1>
</body>
</html>