
{% extends "restaurant_manage/base_list.html" %}
{% load static %}

{% block title %}
    <title>Create Menu Item</title>
{% endblock %}

{% block content %}
    <script>
        function showAlert(message) {
            alert(message);
        }
    </script>
    <h2>Create Menu Item</h2>
    {% if restaurant_name %}
        <h3>Restaurant: {{ restaurant_name }}</h3>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% if select_form %}
            {{ select_form.as_p }}
        {% endif %}
        {{ form.as_p }}
        <button type="submit" name="action" value="save">Save</button>
        <button type="submit" name="action" value="save_and_add">Save and add another</button>
    </form>
    {% if alert %}
    <script>
        showAlert("{{ alert }}");
    </script>
    {% endif %}
{% endblock %}
