{% extends "restaurant_manage/base_list.html" %}
{% load static %}

{% block title %}
    <title>Restaurant Management | Menu</title>
{% endblock %}

{% block content %}
    <h2>Menu for {{ restaurant_name }}</h2>
    <ul>
        {% for item in menu_items %}
            <li>{{ item.name }} costing ${{ item.price }} in category {{ item.category }}
                {% if is_owner %}
                <a href="{% url 'menu-detail' item.id %}" class="align-right">Menu Details</a>
                {% endif %}
            </li>
        {% endfor %}
        <br>
        {% if is_owner %}
        <a href="{% url 'create-menu-item' %} " class="btn">New menu Item</a>
        {% endif %}
    </ul>
{% endblock %}
