{% extends "restaurant_manage/base.html" %}
{% load static %}

{% block title %}
    <title>Restaurant Management | Menu Item Detail</title>
{% endblock %}

{% block content %}
    <h2>Menu Item #{{ menu_item.id }} Details</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Menu Item</button>
    </form>
    <form method="post" action="{% url 'menu-detail' menu_item.id %}" style="margin-top: 20px;">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete Menu Item</button>
    </form>
    <a href="{% url 'menu-view' %}" class="align-right">Back to Menu</a>
{% endblock %}
