{% extends "restaurant_manage/base_list.html" %}
{% load static %}

{% block title %}
    <title>Create Order</title>
{% endblock %}

{% block content %}
    <script>
        function showAlert(message) {
            alert(message);
        }
    </script>
    <h2>Create Order</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" value="save">Save</button>
        <button type="submit" name="action" value="save_and_add">Save and Add Another</button>
    </form>
    
    {% if alert %}
    <script>
        showAlert("{{ alert }}");
    </script>
    {% endif %}
{% endblock %}
